* ,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}
:root {
	--title-color: #212121;
	--text-color: #757575; 
	--acent-color:#2196F3;
}

html {
    font-family: Roboto;
    color: var(--text-color);
    font-style: normal;
}

.logo {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.03em;

color: var(--acent-color);
}

.accent {
    color: var(--title-color);
}

body {
    color: var(--text-color);
    font-family: Robotto;
    font-style: normal;
}

/*===========HEADER============*/


.main-nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 15px;
    /* outline: 1px solid aqua; */
    align-items: center;
}

.contact {
    display: flex;
    height: 100%;
}

.item {
    /* outline: 1px solid tomato; */
    width: 30px;
    padding-top: 20px;
}

.item:not(:last-child) {
    margin-right: 10px;
}

.svg {
    fill: var(--title-color);
}

.item:hover .svg ,
.item:focus .svg {
    fill: var(--acent-color);
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.item:hover .svg2 ,
.item:focus .svg2 {
    fill: tomato;
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*=============HERO============*/

.hero {
    display: block;
    height: 400px;
outline: 1px solid aqua;
padding-top: 158px;
background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../img/header.jpg) ;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}


.hero-text {
    max-width: 360px;
    margin: 0 auto;
    
 font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 1.62;
/* or 162% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #fff;

}

/*=============Gamelist==========*/


.cyg {
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 4px;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.03em;

color: #212121;

}

.line {
    width: 100px;
height: 2px;
margin: 0 auto;

background: #2196F3;
}

.cards {
    display: flex;
    padding-top: 0px;
    flex-direction: column;
    
    
}

.card {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    width: 480px;
    height: 404px;
    margin-left: 10px;
    background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card_name {
    padding-left: 21px;
    text-transform: uppercase;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
}

.card_desc {
    padding-left: 21px;
    padding-bottom: 10px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

letter-spacing: 0.03em;

color: #757575;
}

/*=============form==========*/


.form {
    padding-top: 52px;
    padding-left: 55px;
    padding-right: 55px;
}

.form_name {
    display: flex;
    flex-direction: column;
    
   
}

.form_comment {
    display: flex;
    flex-direction: column;
}

label {
    padding-top: 10px;
     padding-bottom: 10px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.01em;

color: #757575;
}

input {
    width: 370px;
height: 40px;
/* background-color: transparent; */

border: 1px solid #2196F3;
box-sizing: border-box;
border-radius: 4px;
}

.form_comment > input {
    box-sizing: border-box;
    width: 370px;
    height: 125px;
    
    
    border: 1px solid #2196F3;
    
    border-radius: 4px;
}

.form_comment > input::placeholder {
    
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
    padding-left: 20px;
    transform: translateY(-2.7rem);
    
}

.button {
    padding-top: 24px;
    padding-bottom: 54px;
    text-align: center;
    
}

button {
    width: 200px;
height: 50px;
border-color: transparent;

background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}

button > h3 {
    text-transform: uppercase;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

letter-spacing: 0.06em;

color: #FFFFFF;
}

/*===============footer=========*/


footer {
    width: 480px;
height: 250px;


background: #2F303A;
}

.gsfooter {
    padding-top: 60px;
}

.geolocation {
    padding-top: 20px;
}

.geo_p {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
}

.contacts_footer {
    padding-top: 8px;
    text-align: center;
}

.footer_links {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */


letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}